body{
    background-color:#03a9f4;
}

.title{
    font-weight: bold;
    font-size: 300%;
    font-family: fantasy;
    color: aquamarine;
    margin-top: 5%;
    padding: 0%;
    display: flex;
    justify-content: center
    ;
}
.menu{
    display: flex;
    margin-top: 2%;
    margin-left: 65%;
    font-weight: bold;
    color: aliceblue; 
}

.menuIndicator{
    display: flex;
    margin-left: 65%;
}
.menuIndicator p{
    color: aliceblue;
}
sub{
    font-size: small;
}

.Generation_container{
    position:absolute;
    top: 0%;
    right:1%;
    margin: 0%;
    padding: 0%;
}
.Generation_letters{
    font-size:200%;
    color: aliceblue;
    font-family:'Trebuchet MS';
    margin: 0%;
    padding: 0%;
}

.Generation{
    text-decoration: none;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color:chocolate;
    color:aquamarine;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: bold;
    font-family: fantasy;
  }