<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee's Page</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon_io/favicon.ico" type="image/x-icon">

</head>

<body>
    <a href=/ class="boton">Customer's Page</a>

    <h2 class="title">{{htmlEmploGreeting}}</h2>
    <div class="Generation_container">
      <p style="margin: 0%;padding: 0%;color:aliceblue;">With the great support of:</p>
      <a href="https://ireland.generation.org/" 
          target="_blank" 
          class="Generation">

          <h3 class="Generation_letters"> 
            Generation<sub>Ireland and UK</sub>
          </h3>
      </a>

    
</body>
</html>

