<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Rangers Cafe</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon_io/favicon.ico" type="image/x-icon">

</head>

<body>
    <a href=/employee target="_blank" class="boton">I'm an employee</a>

    <h2 class="title">Welcome to Python Rangers Cafe</h2>
    <div class="Generation_container">
      <p style="margin: 0%;padding: 0%;color:aliceblue;">With the great support of:</p>
      <a href="https://ireland.generation.org/" 
          target="_blank" 
          class="Generation">

          <h3 class="Generation_letters"> 
            Generation<sub>Ireland and UK</sub>
          </h3>
      </a>
    </div>

    <div class="menu">
      <button 
              onclick="activeButton('drinkButton')" 
              class="boton"
              id="drinkButton">
              DRINKS
      </button>
      <button 
              onclick="activeButton('foodButton')" 
              class="boton"
              id="foodButton">
              FOODS
      </button>
      <button 
              onclick="activeButton('bookButton')" 
              class="boton"
              id="bookButton">
              BOOKS
      </button>
    </div>
      

    
      <script>
        let bActive = null;  // Any button iniatilly active
        
        async function activeButton(id) {
            // if any active button, deactivate
            if (bActive) {
                document.getElementById(bActive).style.backgroundColor = "";
            }
            // We activate the new button
            document.getElementById(id).style.backgroundColor = "green";
            bActive = id;
              // Enviar el valor de 'bActive' a la aplicación Flask
            const response = await fetch('/update_button_active', 
            {
              method: 'POST',
              headers: {
                        'Content-Type': 'application/json',
                        },
              body: JSON.stringify({ bActive: bActive }),
            });

            if (!response.ok) {
              console.error('Error en la solicitud:', response.statusText);
              }
            // Obtiene la respuesta como un objeto JSON
            const data = await response.json();

            // Encuentra el elemento que quieres actualizar
            const elementToUpdate = document.getElementById('checker');

            // Actualiza el contenido del elemento con el valor de 'htmlFlag'
            elementToUpdate.textContent = data.htmlFlag;
            }
        </script>
    <div class="menuIndicator">
      <p>option chosen:</p>
      <p id="checker">{{htmlFlag}}</p>
    </div>
</body>
</html>

